<footer>
    <div class="container ftBox">
        <p class="flex align-center align-content-center">

            <span>&copy;</span><small>all right reserved</small>
        </p>
    </div>
</footer>
</body>
</html>