<!-- @format -->

<% include partial/header%>
<main>
  <section class="container section-pd">
    <h1 class="primary-heading text-cnt mtb">add your Expenses</h1>
    <div class="register-form-box">
      <form action="/expenses/new" method="post">
        <label for="amount">amount</label>
        <input id="amount" type="number" name="amount" placeholder="$ 00.00" />

        <label for="date">date</label>
        <input id="date" type="date" name="date" placeholder="date" />

        <label for="source">category</label>
        <select name="category">
          <option value="none" selected hidden disabled>
            select Expenses category
          </option>
          <option value="food-and-drink">food-and-drink</option>
          <option value="transportation">transportation</option>
          <option value="housing-and-utilities">housing-and-utilities</option>
          <option value="personalCare">personalCare</option>
          <option value="healthCare">healthCare</option>
          <option value="shopping">shopping</option>
          <option value="miscellaneous">miscellaneous</option>
        </select>

        <input class="submit" type="submit" value="add" />
      </form>
    </div>
  </section>
</main>
<% include partial/footer%>
